@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;600&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    text-align: center;
    color: rgb(157, 235, 255);
    /* text-shadow: 0 0 10px rgba(0, 0, 0, 0.9); */
  }
  .wrapper{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }
  .header{
    min-width: 250px;
    min-height: 250px;
    flex-direction: column;
    background-color: rgb(17, 50, 104, 0.4);
    color: rgb(175, 230, 255);
    padding: 1em;
    margin-right: 2em;
    /* border: 1px solid white; */
    border-radius: 10px;
    filter: blur(100%);
  }
  .container{
    min-width: 40vw;
    min-height: 95%;
    max-width: 70vw;
    border: 1px solid rgb(255, 244, 244);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgba(35, 22, 67, 0.6);
    /* background: rgba(0, 0, 95, 0.5); */
  }
  
  p{
    font-size: 1rem;
  }
  
  h1{
    font-size: 2rem;
  }
  
  table{
    display: flex;
    padding: 10px;
  }
  
  tbody{
    margin-left: 50px;
  }
  
  tr { 
    display: block; float: left;
    
  }
  td { 
    display: block; 
    text-align: right;
    font-weight: 600;
    margin-bottom: 0.5em; 
  }
  
  th{
    text-align: left;
    display: block;
    font-weight: 200;
    margin-bottom: 0.5em; 
  }

  @media screen and (max-width: 767px) {
    body {
      height: 100vh;
      padding: 20px;
    }
    .wrapper {
      flex-direction: column;
    }
    .header{
      min-height: 180px;
      width: 100vw;
      margin-right: 0;
      border-radius: 0;
    }
    .container{
      height: 250px;
      padding-top: 50px;
    }
  }